<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="Session">
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.2.104/bdclinica</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.search.autoregister_listeners">true</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <mapping resource="pojos/Clients.hbm.xml"/>
  <mapping resource="pojos/Assistencies.hbm.xml"/>
  <mapping resource="pojos/Serveis.hbm.xml"/>
  <mapping resource="pojos/Usuaris.hbm.xml"/>
  <mapping resource="pojos/Perfils.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
